@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.App {
  text-align: center;
  justify-content: center;
  font-family: Inter;

}

.txtanswers{
  font-size: 60%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
}

ul{
  list-style:none;
  padding: 0;
  flex-direction: row;
  font-size: 120%;
}

ul li {
  display: inline-block;
  margin-right: 3%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  
}

.logo {
  height: 75px;
  align-self: left;
}

.icon {
  max-height: 50px;
  justify-content: first baseline;
}

.iconstext {
  align-items: left;
  flex-direction: row;
  display: inline-flex;
  float: left;
  width: 100%;
  justify-content: flex-start;
  margin-left: 1%;
}

.nav {
  background-color: #fff;
  top: 0;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  position: sticky;
  font-size: 50%;
}

.greenContainer {
  background-color: #F3F8F2;
  padding-top: 3%;
  padding-bottom: 2%;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

.mainTitle {
  background-image: url('./assets/Mentoring.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  top: 0;
  font-family: 'Roboto';
  font-size: 300%;
  font-weight: 600;
  color: #F3F8F2;
  margin-top: -5%;
  
}

.sideText {
  font-size: 120%;
  margin-left: 0.8%;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  color: #67b359;
  justify-content: left;
}

.subheading {
  font-size: 120%;
  font-family: Roboto;
  font-weight: 700;
  color: black;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


nav a {
  color: #fff;
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}
